<div class="caixa my-20">
  <div class="caixa py-36 bg-verde text-white overflow-hidden">
    <div class="absolute bottom-0 right-0 w-5xl">
      <img src="/assets/img/xente_dos.webp" alt="" />
    </div>
    <div class="absolute right-6 left-auto xl:left-1/2 -top-16 w-60 -translate-x-1/2 2xl:-top-24 2xl:left-36 2xl:w-96 opacity-20">
      <img src="/assets/img/logo_branco.webp" alt="" />
    </div>
    <!-- presentación -->
    <div class="max-w-screen-xl mx-auto 2xl:px-20 relative">
      <div class="md:grid md:grid-cols-2 xl:grid-cols-3 gap-x-12 gap-y-24">
        <div class="col-span-2">
          <h2 class="text-6xl mb-6">A Fundación</h2>
          <div class="max-w-xl">{{ fundacion_presentacion | safe }}</div>
        </div>
        {% for item in proxectos %}
        <div class="mt-12 md:mt-0">
          <span>{{ item.fecha }}</span>
          <h3 class="font-bold text-2xl">{{ item.titulo }}</h3>
          <span class="block text-sm mb-3">{{ item.subtitulo }}</span>
          {{ item.cuerpo | safe }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="mt-60 2xl:mt-36 relative">
      <a class="boton bg-white !text-texto inline-block w-fit mx-auto" href="/florencio">A Fundación <span class="ml-3 inline-block">></span></a>
    </div>
  </div>
</div>
