<!-- wraper -->
<div class="wrapper">
  <!-- muro -->
  <div class="muro"></div>
  <!-- superficie -->
  <div class="flex">
    <!-- tabique izq -->
    <div>
      <div class="tabique h-[60px]"></div>
      <div class="tabique h-[70px] mt-[180px]"></div>
      <div class="tabique h-[60px] mt-[230px]"></div>
    </div>
    <!-- alma -->
    <div class="alma">
      <div class="tabique !w-full h-[10px] mt-[240px]"></div>
    </div>
    <!-- tabique drch -->
    <div>
      <div class="tabique h-[60px]"></div>
      <div class="tabique h-[360px] mt-[180px]"></div>
    </div>
  </div>
  <!-- muro -->
  <div class="muro"></div>
</div>
