<footer class="caixa mt-36">
  <hr />
  <div class="py-20 flex flex-col gap-12 xl:flex-row xl:justify-between 2xl:gap-20 max-w-sm xl:max-w-6xl mx-auto">
    <div class="pb-6 xl:pb-0"><img class="h-32" src="/assets/img/logo_completo.webp" alt="" /></div>
    <div>
      <span class="block text-gray-400">Dirección</span>
      Rúa San Roque 8<br />O Barco de Valdeorras
      <a href="https://maps.app.goo.gl/6zkQmYFnaqYMoP6R7" target="_blank">Google maps</a>
    </div>
    <div>
      <span class="block text-gray-400">Redes sociais</span>
      <a href="https://www.instagram.com/fundacionfdg/" target="_blank">instagram.com<span class="text-gray-400">/fundacionfdg</span></a>
      <a href="https://www.facebook.com/FundacionFlorencioDG" target="_blank">facebook.com<span class="text-gray-400">/FundacionFlorencioDG</span></a>
      <a href="https://x.com/asletrasdeFDG" target="_blank">x.com<span class="text-gray-400">/asletrasdeFDG</span></a>
    </div>
  </div>
  <div class="xl:pt-6 pb-20 max-w-sm mx-auto">
    <div class="ml-auto xl:text-center">
      <a class="boton bg-verde inline-block w-fit mb-8 xl:mx-auto" href="/florencio">Contacta con nós <span class="ml-3 inline-block">></span></a>
      <a href="mailto:fundación@florenciodelgadogurriaran.gal">fundación@florenciodelgadogurriaran.gal</a>
    </div>
  </div>
  <div class="flex items center justify-between pb-12">
    <div>
      <a href="/legal">Aviso Legal</a>
    </div>
    <div>
      <button x-data="{}" @click="window.scrollTo({top: 0, behavior: 'smooth'})" aria-label="Ir arriba">Ir arriba</button>
    </div>
  </div>
</footer>
