<div class="caixa max-w-screen-2xl">
  <h1 class="py-12 text-7xl font-bold text-verde">
    <a href="/actividades/">{{ title }}</a>
  </h1>
  <hr />
  <ul class="flex gap-6 *:first-letter:uppercase py-6">
    <li><a href="/actividades/" class="{{ 'text-verde' if page.url == '/actividades/' }}">Todas</a></li>
    {%- for item in collections.etiquetas -%}
    <li><a href="/actividades/etiqueta/{{ item }}/" class="{{ 'text-verde' if item == etiqueta }}">{{ item }}</a></li>
    {%- endfor -%}
  </ul>
</div>
