<div x-data="{menu : false}">
  <!-- movil -->
  <div class="caixa xl:hidden bg-white">
    <div class="flex justify-between items-center py-6">
      <div>
        <a href="/">
          <img class="w-14" src="/assets/img/logo.webp" alt="" />
        </a>
      </div>
      <div class="sticky top-0">
        <button class="w-12 h-9 border-y-[3px] border-verde" @click="menu = true" aria-label="Abrir o menú">
          <div class="border-t-[3px] border-verde"></div>
        </button>
      </div>
    </div>
  </div>
  <!-- sidebar -->
  <div
    class="fixed top-0 right-0 w-full h-full sm:w-md lg:w-1/2 bg-texto text-white z-20"
    x-cloak
    x-show="menu"
    @click.outside="menu = false"
    x-transition:enter-start="translate-x-1/2 opacity-0"
    x-transition:enter-end="translate-x-0 opacity-100"
    x-transition:leave-start="translate-x-0 opacity-100"
    x-transition:leave-end="translate-x-1/2 opacity-0"
    x-transition:enter="transition ease-out duration-500"
    x-transition:leave="transition ease-in duration-500"
  >
    <div>
      <button class="w-12 h-9 mx-9 my-12 ml-auto block border-y-2 border-white" @click="menu = false" aria-label="Abrir o menú">
        <div class="border-t-2 border-white"></div>
      </button>
    </div>
    <ul class="pb-9 text-3xl block ml-12 font-serif space-y-4">
      <li>
        <a href="/" class="text-verde font-bold"> Inicio </a>
      </li>
      {%- for item in nav.items -%}
      <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {%- endfor -%}
      <li><a href="/diccionario">Diccionario</a></li>
      <br />
      <hr class="w-12" />
      <br />
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Textos legales</a></li>
    </ul>
  </div>
</div>
<!-- grandes -->
<div class="caixa hidden bg-white xl:block sticky">
  <div class="flex justify-between items-center">
    <div>
      <ul class="flex gap-9 items-center">
        {%- for item in nav.items -%}
        <li><a href="{{ item.url }}" class="py-6 block {% if item.url == page.url %}text-verde font-bold{% endif %}">{{ item.text }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="/diccionario/" class="bg-black text-white py-6 px-9 block">Diccionario valdeorrés</a></li>
      </ul>
    </div>
  </div>
</div>
