<div class="caixa">
  <div class="flex justify-between">
    <div>
      <ul class="flex gap-9 py-9 items-center">
        <li>
          <a href="#" class="text-verde font-bold"> Inicio </a>
        </li>
        <li><a href="#">Fundación</a></li>
        <li><a href="#">Premio de poesía</a></li>
        <li><a href="#">Recursos</a></li>
        <li><a href="#">Novidades</a></li>
      </ul>
    </div>
    <div>
      <ul class="flex gap-6 py-9">
        <li><a href="#">Diccionario</a></li>
      </ul>
    </div>
  </div>
  <hr />
</div>
