<div x-data="{menu : false}">
  <!-- movil -->
  <div class="caixa xl:hidden">
    <div class="flex justify-between items-center py-6">
      <div>
        <a href="/">
          <img class="w-20" src="/assets/img/logo.webp" alt="" />
        </a>
      </div>
      <div class="sticky top-0">
        <button class="w-12 h-9 border-y-2 border-texto" @click="menu = true" aria-label="Abrir o menú">
          <div class="border-t-2 border-texto"></div>
        </button>
      </div>
    </div>
    <hr />
  </div>
  <!-- sidebar -->
  <div
    class="fixed top-0 right-0 w-full h-full sm:w-md lg:w-1/2 bg-texto text-white z-20"
    x-cloak
    x-show="menu"
    @click.outside="menu = false"
    x-transition:enter-start="translate-x-1/2 opacity-0"
    x-transition:enter-end="translate-x-0 opacity-100"
    x-transition:leave-start="translate-x-0 opacity-100"
    x-transition:leave-end="translate-x-1/2 opacity-0"
    x-transition:enter="transition ease-out duration-500"
    x-transition:leave="transition ease-in duration-500"
  >
    <div>
      <button class="w-12 h-9 mx-9 my-12 ml-auto block border-y-2 border-white" @click="menu = false" aria-label="Abrir o menú">
        <div class="border-t-2 border-white"></div>
      </button>
    </div>
    <ul class="pb-9 text-3xl block ml-12 font-serif space-y-4">
      <li>
        <a href="/" class="text-verde font-bold"> Inicio </a>
      </li>
      <li><a href="/florencio">Florencio</a></li>
      <li><a href="/fundacion">A Fundación</a></li>
      <li><a href="#">Premio de poesía</a></li>
      <li><a href="#">Novidades</a></li>
      <li><a href="#">Diccionario</a></li>
      <br />
      <hr class="w-12" />
      <br />
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Textos legales</a></li>
    </ul>
  </div>
</div>
<!-- grandes -->
<div class="caixa hidden xl:block">
  <div class="flex justify-between items-center">
    <div>
      <ul class="flex gap-9 py-9 items-center">
        <li>
          <a href="/" class="text-verde font-bold"> Inicio </a>
        </li>
        <li><a href="/florencio">Florencio</a></li>
        <li><a href="/fundacion">A Fundación</a></li>
        <li><a href="#">Premio de poesía</a></li>
        <li><a href="#">Novidades</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a class="boton bg-verde" href="#">Diccionario valdeorrés</a></li>
      </ul>
    </div>
  </div>
  <hr />
</div>
