<!-- Login -->
<div class="pt-6 pb-12 px-16 bg-texto text-white">
  <div class="font-bold uppercase">Entrar</div>
  <form action="#" class="pt-6">
    <label for="Nome" class="block">
      <span class="">Correo electrónico</span>
      <input type="text" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
    </label>
    <label for="Nome" class="block">
      <span class="">Contrasinal</span>
      <input type="password" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
    </label>
    <a href="#" @click="menu = false" class="block text-lg underline underline-offset-4">Olvidaches o contrasinal?</a>
    <button class="block h-16 w-full rounded-sm bg-verde mx-auto mt-6 text-white text-xl hover:bg-verde/80">Entrar</button>
  </form>
  <a href="/dicionario/rexistrarse/" @click="menu = false" class="block mt-9 text-center underline underline-offset-4">Se aínda non estás rexistrado/a<br />rexístrate aquí</a>
</div>
<!-- Novo termo -->
<div class="pt-6 pb-12 px-16 bg-texto text-white">
  <div class="font-bold uppercase">NOVO TERMO</div>
  <form action="#" class="pt-6">
    <label for="Nome" class="block">
      <span class="">Termo</span>
      <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" placeholder="Exemplo: Avisedo" />
    </label>
    <label for="Nome" class="block">
      <span class="">Lugar/es no que se utiliza</span>
      <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" placeholder="Exemplo: Córgomo" />
    </label>
    <label for="Nome" class="block">
      <span class="">Definición</span>
      <textarea rows="6" class="w-full border-1 border-neutral-200 rounded-sm bg-fondo mb-6 mt-2 p-6" placeholder="Exemplo: Terreo no que non acostuma dar o sol, sombrío."></textarea>
    </label>
    <a href="/dicionario/rexistrarse/" @click="menu = false" class="block mt-0 text-center underline underline-offset-4">Achegar imaxe ou Audio</a>
    <button class="block h-16 w-full rounded-sm bg-verde mx-auto mt-9 font-semibold text-white text-2xl hover:bg-verde/80">Enviar</button>
  </form>
</div>
<!-- Comentario -->
<div class="pt-6 pb-12 px-16 bg-texto text-white">
  <div class="font-bold uppercase">Comentario</div>
  <form action="#" class="pt-6">
    <label for="Nome" class="block">
      <span class="">Termo</span>
      <textarea rows="6" class="w-full border-1 border-neutral-200 rounded-sm bg-fondo mb-6 mt-2 p-6"></textarea>
    </label>
    <a href="/dicionario/rexistrarse/" @click="menu = false" class="block mt-0 text-center underline underline-offset-4">Achegar imaxe ou Audio</a>
    <button class="block h-16 w-full rounded-sm bg-verde mx-auto mt-9 font-semibold text-white text-2xl hover:bg-verde/80">Enviar</button>
  </form>
</div>
