<div class="pt-6 pb-12 px-16 bg-texto text-white">
  <div class="font-bold uppercase">Entrar</div>
  <form action="#" class="pt-6">
    <label for="Nome" class="block">
      <span class="">Correo electrónico</span>
      <input type="text" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
    </label>
    <label for="Nome" class="block">
      <span class="">Contrasinal</span>
      <input type="password" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
    </label>
    <a href="#" @click="menu = false" class="block text-lg underline underline-offset-4">Olvidache o contrasinal?</a>
    <button class="block h-16 w-full rounded-sm bg-verde mx-auto mt-6 font-semibold text-white text-2xl hover:bg-verde/80">Entrar</button>
  </form>
  <a href="/dicionario/rexistrarse/" @click="menu = false" class="block mt-9 text-center underline underline-offset-4">Se aínda non estás rexistrado/a<br />rexístrate aquí</a>
</div>
