{% include "dicionario/user/rexistrar.html" %}

<!-- Mapa de letras -->
<!-- Todas las opciones que toma son colores en hexadecimal sin el #.

  fondo: color de fondo del mapa
  paleta: lista de colores separadas por comas, ordenadas de la más oscura a la más clara, usada para pintar las letras
  texto: si no se utiliza el campo "paleta", se puede usar este campo para definir un único color del que se toma su hue para colorear las letras
  destacado: color de las palabras destacadas del diccionario
  -->
<iframe src="/mapa/?fondo=f7f5f2&paleta=104e64,00786f,00bc7d,7bf1a8,ecfcca,ffffff&destacado=fb2c36" class="!p-0 w-full! h-2xl! !shadow-none hidden" frameborder="0"></iframe>
<!-- Logo Xunta -->
<div class="caixa max-w-xl mt-36">
  <img src="/assets/img/logos/xunta.webp" alt="Logo Xunta de Galicia" />
  <div class="-mt-20 pl-5">Proxecto realizado co apoio da<br />Dirección Xeral de Política Linguística.<br />Xunta de Galicia.</div>
</div>
