{% extends "./base.html" %} {% block content %}
<!-- Navegador -->
<div class="bg-black">
  <div class="caixa max-w-screen-2xl">
    <ul class="text-white flex gap-12 mx-auto text-2xl">
      {%- for item in nav.diccionario -%}
      <li><a href="{{ item.url }}" class="py-9 block {% if item.url == page.url %}text-verde font-bold{% endif %}">{{ item.text }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<!-- Header -->
<div class="caixa max-w-screen-xl pt-20">
  <h1 class="text-5xl sm:text-7xl text-verde">{{ title }}</h1>
</div>

<div class="caixa">
  <!-- 
  Mapa de letras. Todas las opciones que toma son colores en hexadecimal sin el #.

  fondo: color de fondo del mapa
  paleta: lista de colores separadas por comas, ordenadas de la más oscura a la más clara, usada para pintar las letras
  texto: si no se utiliza el campo "paleta", se puede usar este campo para definir un único color del que se toma su hue para colorear las letras
  destacado: color de las palabras destacadas del diccionario
  -->  
  <iframe src="/mapa/?fondo=f7f5f2&paleta=104e64,00786f,00bc7d,7bf1a8,ecfcca,ffffff&destacado=fb2c36" class="w-5xl! h-5xl!" frameborder="0"></iframe>
</div>

{%- if page.url == '/diccionario/' -%}
<!-- Termos....................................... -->
<div class="caixa max-w-screen-xl pt-12">
  <div class="flex gap-6">
    <div class="flex-1 relative" x-data="{menu : false}">
      <button class="w-full h-16 bg-verde text-white font-bold px-6 flex gap-3 items-center" @click="menu = true">
        <div>
          <svg class="fill-none stroke-white stroke-2 size-6" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
          </svg>
        </div>
        <div>Filtrar listado</div>
        <div class="ml-auto"><div class="rotate-90">></div></div>
      </button>
      <!-- panel -->
      <div class="absolute top-20 left-0 z-20 py-12 bg-white text-texto font-normal flex w-5xl divide-x divide-neutral-200" x-show="menu" @click.outside="menu = false">
        <div class="flex-1 px-12">
          <strong class="block pb-6 uppercase text-verde">Categoría</strong>
          <ul class="space-y-3">
            {%- for item in lista.categorias -%}
            <li><a href="#" class="hover:text-verde">{{ item.text}}</a></li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="flex-1 px-12">
          <strong class="block pb-6 uppercase text-verde">Campo semántico</strong>
          <ul class="space-y-3">
            {%- for item in lista.campos -%}
            <li><a href="#" class="hover:text-verde">{{ item.text}}</a></li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="flex-1 px-12">
          <strong class="block pb-6 uppercase text-verde">Lugar</strong>
          <ul class="space-y-3">
            {%- for item in lista.lugares -%}
            <li><a href="#" class="hover:text-verde">{{ item.text}}</a></li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
    <div class="h-16 flex-2 bg-black text-white font-bold px-6 flex gap-3 items-center">
      <div>
        <svg class="fill-none stroke-white stroke-2 size-6" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8" />
          <path d="m21 21-4.3-4.3" />
        </svg>
      </div>
      <div>Buscar</div>
    </div>
  </div>
</div>
<div class="caixa max-w-screen-2xl pt-20 grid grid-cols-3 gap-6">
  {%- for item in collections.termos -%}
  <a href="{{ item.url }}">
    <div class="border-t-2 text-xl:2xl py-3 first-letter:uppercase">{{ item.data.termo }}</div>
  </a>
  {%- endfor -%}
</div>
<div class="caixa max-w-screen-xl mt-36">
  <a class="underline" href="/diccionario/colabora/">Coñeces algún termo máis?<br />Colabora no proxecto ></a>
</div>
{%- elseif page.url == '/diccionario/mapa/' -%}
<!-- Mapa........................................ -->
<div class="caixa max-w-screen-xl pt-6"><div class="max-w-xl">{{ content | safe }}</div></div>
<img src="/assets/img/mapa.webp" alt="" />
{%- elseif page.url == '/diccionario/colabora/' -%}
<!-- Colabora.................................... -->
<div class="caixa max-w-screen-xl pt-6"><div class="max-w-xl">{{ content | safe }}</div></div>
<div class="caixa max-w-5xl pt-9">
  <form action="#" class="bg-verde p-12 mt-20">
    <div class="py-12 px-16 bg-white border-b">
      <div class="text-4xl font-bold pb-12 text-center">Os teus datos</div>
      <label for="Nome" class="block">
        <span>Nome completo</span>
        <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
      </label>
      <label for="Email" class="block">
        <span>Email</span>
        <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2" />
      </label>
    </div>
    <div class="py-12 px-16 bg-white">
      <div class="text-4xl font-bold pb-12 text-center">O termo</div>
      <label for="Nome" class="block">
        <span class="">Palabra</span>
        <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" placeholder="Exemplo: Avisedo" />
      </label>
      <label for="Nome" class="block">
        <span class="">Lugar/es no que se utiliza</span>
        <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" placeholder="Exemplo: Córgomo" />
      </label>
      <label for="Nome" class="block">
        <span class="">Definición</span>
        <textarea rows="6" class="w-full border-1 border-neutral-200 rounded-sm bg-fondo mb-6 mt-2 p-6" placeholder="Exemplo: Terreo no que non acostuma dar o sol, sombrío."></textarea>
      </label>
      <!-- acordo -->
      <label for="normas" class="flex gap-3 items-center mt-16">
        <input class="size-9 border-4 border-neutral-500 bg-transparent" type="checkbox" name="normas" id="normas" required />
        Lin e acepto a <a href="/politica-privacidade" class="underline underline-offset-4">política de privacidade</a>
      </label>
      <button class="block h-20 w-full bg-verde mx-auto mt-12 font-bold text-white text-2xl hover:bg-verde/80">Enviar</button>
    </div>
  </form>
</div>
{%- else -%}

<div class="caixa max-w-screen-xl pt-9 content">{{ content | safe }}</div>

{%- endif -%}
<div class="caixa max-w-xl mt-36">
  <img src="/assets/img/logos/xunta.webp" alt="Logo Xunta de Galicia" />
  <div class="-mt-20 pl-5">Proxecto realizado co apoio da<br />Dirección Xeral de Política Linguística.<br />Xunta de Galicia.</div>
</div>
{% endblock %}
