{% extends "./base.html" %} {% block content %}
<!-- Header -->
<div class="caixa max-w-screen-2xl mx-auto pt-20">
  <h1 class="text-7xl sm:text-8xl">{{ title }}</h1>
</div>
<!-- Content -->
<div class="caixa max-w-screen-2xl lg:columns-2 gap-20 mt-9 content">{{ content | safe }}</div>
<!-- Conmillas -->
<div class="caixa mt-20">
  <div class="text-5xl font-serif italic flex gap-6 my-20 p-20 max-w-screen-2xl w-fit mx-auto">
    <div class="text-9xl">&ldquo;</div>
    <div class="inline-block leading-none">{{ comillas | safe }}</div>
  </div>
</div>
<!-- Fechas -->
<div class="caixa py-20">
  <hr />
  <div>
    <div class="grid lg:grid-cols-4 2xl:grid-cols-6 gap-12 my-12">
      {%- for item in fechas -%}
      <div class="flex-1"><span class="block text-2xl font-bold pb-1">{{ item.fecha }}</span> {{ item.evento }}</div>
      {%- endfor -%}
    </div>
  </div>
  <hr />
</div>
{% endblock %}
