{% extends "./base.html" %} {% block content %}
<!-- Header -->
<div class="caixa max-w-screen-2xl pt-20 dupla gap-20">
  <div>
    <div class="text-7xl 2xl:text-8xl font-bold font-serif text-verde">Florencio</div>
    <div class="pt-6">Un poeta valdeorrés, republicano e galeguista. Así define a Florencio Delgado Gurriarán o seu biógrafo o historiador Ricardo Gurriarán, quen en 1999 publica a primeira investigación sobre o autor de Córgomo.</div>
  </div>
  <div>
    <img src="/media/florencio_rec.webp" alt="{{ titular }}" />
  </div>
</div>
<div class="caixa max-w-screen-3xl">
  <hr />
</div>
<!-- navegacion -->
<div class="caixa max-w-screen-2xl">
  <ul class="flex gap-12 items-center sm:text-2xl max-w-xl">
    {%- for item in nav.florencio -%}
    <li><a href="{{ item.url }}" class="py-6 block {% if item.url == page.url %}text-verde font-bold{% endif %}">{{ item.text }}</a></li>
    {%- endfor -%}
  </ul>
</div>
<!-- Content -->
<div class="caixa max-w-screen-xl pt-20 content">
  <h1 class="text-7xl pb-6">{{ title }}</h1>
  {{ content | safe }}
</div>
<!-- navegacion footer -->
<div class="caixa max-w-screen-2xl pt-36">
  <ul class="flex gap-9 items-center sm:text-2xl mx-auto w-fit">
    {%- for item in nav.florencio -%}
    <li><a href="{{ item.url }}" class="py-6 block {% if item.url == page.url %}text-verde font-bold{% endif %}">{{ item.text }}</a></li>
    {%- endfor -%}
  </ul>
  <hr />
</div>

{% endblock %}
