{% extends "./base.html" %} {% block content %}
<!-- Header -->
<div class="caixa max-w-screen-xl mx-auto pt-20">
  <h1 class="text-7xl sm:text-9xl">{{ title }}</h1>
</div>
<!-- Florencio -->
<div class="caixa max-w-screen-xl mx-auto py-12">
  <div class="dupla !items-start gap-20">
    <div>{{ p_uno | safe }}</div>
    <div>
      <div class="text-4xl font-serif flex gap-6 mt-6 mb-20">
        <div class="text-7xl">&ldquo;</div>
        <div class="inline-block leading-tight">{{ comillas | safe }}</div>
      </div>
      {{ p_dos | safe }}
    </div>
  </div>
</div>
<!-- Fechas -->
<div class="caixa py-20">
  <hr />
  <div>
    <div class="grid lg:grid-cols-4 2xl:grid-cols-6 gap-12 my-20">
      {%- for item in fechas -%}
      <div class="flex-1"><span class="block text-2xl font-bold pb-1">{{ item.fecha }}</span> {{ item.evento }}</div>
      {%- endfor -%}
    </div>
  </div>
  <hr />
</div>
<!-- Recursos -->
{%- for recurso in collections.recurso -%}
<div class="caixa max-w-screen-xl mx-auto pt-36">
  <span class="mb-3 block">Recurso</span>
  <h2 class="text-4xl md:text-5xl max-w-2xl !font-sans font-semibold">{{ recurso.data.title }}</h2>
  <div class="mt-4 lg:flex lg:gap-6">
    <div>Ano: <strong>{{ recurso.data.ano }}</strong></div>
    <div>Autor: <strong>{{ recurso.data.autor }}</strong></div>
    {%- if recurso.data.editorial -%}
    <div>Editorial: <strong>{{ recurso.data.editorial }}</strong></div>
    {%- endif -%} {%- if recurso.data.producion -%}
    <div>Producion: <strong>{{ recurso.data.producion }}</strong></div>
    {%- endif -%}
  </div>
  <div class="content max-w-3xl mx-auto mt-20">{{ recurso.content | safe }}</div>
</div>
{%- endfor -%} {% endblock %}
