{% extends "./base.html" %} {% block content %}
<!-- Header -->
<div class="caixa max-w-screen-xl mx-auto pt-20">
  <h1 class="text-7xl sm:text-9xl">{{ title }}</h1>
</div>
<div class="caixa max-w-screen-xl mx-auto pt-12">
  <div class="content">{{ content | safe }}</div>
</div>
<div class="caixa max-w-screen-xl mx-auto pt-20">
  <h2 class="font-bold !font-sans text-5xl mb-20">Padroado</h2>
  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-12">
    {%- for padron in padroado -%}
    <div class="min-h-20 xl:min-h-24">
      <strong class="block">{{ padron.nome }}</strong>
      {{ padron.posto }}
    </div>
    {%- endfor -%}
  </div>

  <h2 class="font-bold !font-sans text-5xl my-20">Apoian</h2>
  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12">
    {%- for apoio in apoian -%}
    <div class="min-h-20 xl:min-h-24">
      <strong class="block">{{ apoio.insti }}</strong>
      Representanción: {{ apoio.repre }}
    </div>
    {%- endfor -%}
  </div>
</div>
{% endblock %}
