{% extends "./base.html" %} {% block content %}
<div class="caixa">
  <div class="dupla">
    <div>
      <div class="mx-auto w-fit">
        <span class="text-xl 2xl:text-2xl">{{ pretitular }}</span>
        <h1 class="text-7xl 2xl:text-8xl max-w-lg mt-4 2xl:mt-6">{{ titular }}</h1>
        <div class="gap-12 mt-9 hidden 2xl:flex">
          <div><img class="w-28" src="/assets/img/logo.webp" alt="" /></div>
          <div class="max-w-xs">{{ destacado }}</div>
        </div>
      </div>
    </div>
    <div>
      <img src="/media/florencio_cuadrado.jpg" alt="Manuscrito {{ titular }}" />
    </div>
  </div>
  <hr />
</div>
<!-- banda oculta en grandes -->
<div class="caixa 2xl:hidden">
  <div class="flex gap-12 my-12 w-fit mx-auto">
    <div><img class="w-28" src="/assets/img/logo.webp" alt="" /></div>
    <div class="max-w-xs">{{ destacado }}</div>
  </div>
  <hr />
</div>
<!-- texto -->
<div class="caixa max-w-screen-xl mx-auto py-20">
  <div class="dupla !items-start gap-20">
    <div>{{ p_uno | safe }}</div>
    <div>
      <div class="text-4xl font-serif flex gap-6 mt-6 mb-20">
        <div class="text-7xl">&ldquo;</div>
        <div class="inline-block leading-tight">{{ comillas | safe }}</div>
      </div>
      {{ p_dos | safe }}
    </div>
  </div>
</div>
<!-- Fechas -->
<div class="caixa hidden">
  <div class="overflow-x-scroll">
    <div class="grid lg:grid-cols-4 2xl:grid-cols-6 gap-12 my-20">
      {%- for item in fechas -%}
      <div class="flex-1"><span class="block text-2xl font-bold pb-1">{{ item.fecha }}</span> {{ item.evento }}</div>
      {%- endfor -%}
    </div>
  </div>
  <hr />
</div>
{% endblock %}
