{% extends "./base.html" %} {% block content %}
<div class="px-6 pt-36">
  <div class="flex w-fit mx-auto scale-[0.5]">
    <div>{% include "cocina.html" %}</div>
    <div>{% include "modulo.html" %}</div>
    <div>{% include "modulo.html" %}</div>
    <div>{% include "bano.html" %}</div>
    <div>{% include "aire.html" %}</div>
    <div>{% include "dormitorio.html" %}</div>
    <div>{% include "aire.html" %}</div>
    <div>{% include "dormitorio_principal.html" %}</div>
  </div>
</div>
{% endblock %}
