---
layout: base
---
<!-- Header -->
<div class="caixa max-w-screen-2xl pt-20 dupla gap-20">
  <div>
    <div class="text-7xl 2xl:text-8xl font-bold font-serif text-verde">{{ tit }}</div>
    <div class="pt-6">{{ texto }}</div>
  </div>
  <div>
    <img src="{{ imagen }}" alt="{{ tit }}" />
  </div>
</div>
<div class="caixa max-w-screen-3xl">
  <hr />
</div>
<!-- navegacion -->
<div class="caixa max-w-screen-2xl">
  <ul class="flex gap-9 items-center sm:text-2xl mx-auto w-fit">
    {%- for item in collections[tags] | sortByOrder | reverse -%}
    <li><a href="{{ item.url }}" class="py-6 block {{ 'text-verde font-bold' if item.url == page.url }}">{{ item.data.title }}</a></li>
    {%- endfor -%}
  </ul>
</div>
<!-- Content -->
<div class="caixa max-w-screen-xl pt-20 content">
  <h1 class="text-7xl pb-6 text-center">{{ title }}</h1>
  {{ content | safe }}
</div>
<!-- navegacion footer -->
<div class="caixa max-w-screen-2xl pt-36">
  <ul class="flex gap-9 items-center sm:text-2xl mx-auto w-fit">
    {%- for item in collections[tags] -%}
    <li><a href="{{ item.url }}" class="py-6 block {{ 'text-verde font-bold' if item.url == page.url }}">{{ item.data.title }}</a></li>
    {%- endfor -%}
  </ul>
  <hr />
</div>
