{% extends "./base.html" %} {% block content %}

<!-- Header -->
<div class="caixa max-w-screen-xl mx-auto pt-20">
  <h1 class="text-7xl sm:text-8xl">{{ title }}</h1>
  <div class="content max-w-4xl mt-12">{{ content | safe }}</div>
</div>
<div class="caixa max-w-screen-xl mx-auto pt-20">
  <ul class="flex gap-12 font-bold mb-9">
    {%- for item in collections.premio -%}
    <li>
      <a href="#{{ item.data.ancla }}">{{ item.data.ancla }}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>
<!-- Recursos -->
{%- for item in collections.premio -%}
<div id="{{ item.data.ancla }}" class="caixa">
  <hr />
</div>
<div class="caixa max-w-screen-xl mx-auto pb-20">
  <h2 class="text-4xl md:text-5xl max-w-2xl !font-sans font-semibold leading-tight mt-20">{{ item.data.title }}</h2>
  <!-- abro condicional -->
  {%- if item.data.galeria -%}
  <!-- Botón: primera imagen -->
  {%- for item in item.data.galeria -%}
  <div>
    {%- if item.order == 1 -%}
    <img src="{{ item.imagen }}" alt="{{ item.alt }}" />
    {%- endif -%}
  </div>
  <!-- galeria en modal -->
  <div>
    <img src="{{ item.imagen }}" alt="{{ item.alt }}" />
  </div>
  {%- endfor -%}
  <!-- cierro condicional -->
  {%- endif -%}
  <div class="content max-w-3xl mx-auto mt-20">{{ item.content | safe }}</div>
</div>
{%- endfor -%} {% endblock %}
