{% extends "./base.html" %} {% block content %}
<!-- Navegador -->
<div class="bg-black">
  <div class="caixa max-w-screen-2xl">
    <ul class="text-white flex gap-12 mx-auto text-2xl">
      {%- for item in nav.diccionario -%}
      <li><a href="{{ item.url }}" class="py-9 block {% if item.url == page.url %}text-verde font-bold{% endif %}">{{ item.text }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<!-- Header -->
<div class="caixa max-w-screen-2xl pt-20">
  <div class="content">
    <h1 class="text-5xl sm:text-7xl text-verde first-letter:uppercase">{{ termo }}</h1>
    <div class="max-w-3xl pt-3">
      <small>Definición:</small><br />
      {{ definicion | safe }}
    </div>
    <div><small>Exemplo:</small><br /><em>{{ exemplo | safe }}</em></div>
    <div class="lg:flex gap-20">
      <div>
        <small>Localización:</small><br />
        <a href="#" class="underline">{{ localizacion | safe }}</a>
      </div>
      <div>
        <small>Categoría:</small><br />
        {{ categoria }}
      </div>
      <div>
        <small>Campo semántico</small><br />
        {{ campo }}
      </div>
    </div>
    <div>
      {%- if foto|length -%}
      <img class="max-w-xl" src="{{ foto }}" alt="{{ termo }}" />
      {%- endif -%}
    </div>
    <div>
      {% if audio|length %}
      <div class="max-w-xl bg-verde p-6 px-12 flex gap-6 items-center my-12">
        <div class="text-5xl">></div>
        <div class="flex-1"><hr /></div>
      </div>
      {% endif %}
    </div>
    <div class="max-w-4xl"><strong>Informantes:</strong><br />{{ informantes | safe }}</div>
  </div>
  <!-- Comentarios -->
  <div class="flex text-lg w-full pt-20">
    <div class="bg-white p-12 flex-1 max-w-3xl"><span class="text-verde block mb-6">Comentarios</span>{{ content | safe }}</div>
    <div class="flex-1 max-w-xl">
      <form action="#">
        <div class="py-12 px-16 bg-white">
          <div class="text-2xl font-bold pb-12">A túa aportación no termo<br />{{ termo }}</div>
          <label for="Nome" class="block">
            <span>O teu nome</span>
            <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
          </label>
          <label for="Email" class="block">
            <span>Email</span>
            <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2" />
          </label>
          <label for="Nome" class="block">
            <span class="">Comentario</span>
            <textarea rows="6" class="w-full border-1 border-neutral-200 rounded-sm bg-fondo mb-6 mt-2 p-6" placeholder="Calquera aportación é benvida. Mil grazas por colaborar no proxecto!"></textarea>
          </label>
          <!-- acordo -->
          <label for="normas" class="flex gap-3 items-center mt-6">
            <input class="size-9 border-4 border-neutral-500 bg-transparent" type="checkbox" name="normas" id="normas" required />
            Lin e acepto a <a href="/politica-privacidade" class="underline underline-offset-4">política de privacidade</a>
          </label>
          <button class="block h-20 w-full bg-verde mx-auto mt-12 font-bold text-white text-2xl hover:bg-verde/80">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center my-12 text-xl max-w-xl mx-auto">Os comentarios pasarán un proceso de moderación <br />Grazas por colaborar!</div>
</div>
{% endblock %}
