@import "tailwindcss";

[x-cloak] {
  display: none !important;
}
html {
  @apply scroll-smooth antialiased;
}
body {
  @apply bg-fondo font-sans text-lg leading-relaxed sm:text-xl sm:leading-normal;
}
.caixa {
  @apply mx-auto px-6 sm:px-12 xl:px-20 relative;
}
.dupla {
  @apply flex flex-col lg:flex-row xl:items-center *:flex-1;
}
h1,
h2 {
  @apply font-serif block font-bold;
}
hr {
  @apply border-t-3;
}
a,
button {
  @apply transition-all duration-300;
}
p {
  @apply leading-relaxed;
}
p > a {
  @apply underline underline-offset-4;
}
a.boton {
  @apply rounded-full h-14 flex items-center px-12 text-white shadow-md shadow-texto/20 hover:shadow-none no-underline;
}
footer a {
  @apply block underline underline-offset-4;
}
button {
  @apply cursor-pointer;
}
.content {
  @apply xl:text-2xl space-y-6;
}
.content h2 {
  @apply text-3xl mt-12 mb-3 font-bold font-sans;
}
.content h3 {
  @apply text-2xl mt-12 mb-3 font-bold font-sans;
}
.content ul {
  @apply list-disc list-inside mt-9 sm:ml-9;
}
.content blockquote p {
  @apply text-5xl leading-tight border-l-2 font-serif italic flex gap-6 my-36 p-20 max-w-screen-2xl w-fit mx-auto;
}
.content img {
  @apply block mt-12 mb-9 shadow-md shadow-texto/20 p-6 bg-white;
}
.content hr {
  @apply mt-12 mb-12 block border-2;
}
iframe {
  @apply shadow-md shadow-texto/20 p-6 bg-white mt-12 mb-9 aspect-video w-full;
}
table {
  @apply my-20 w-full table-auto;
}
table td {
  @apply border-t-2 border-texto py-6 pr-12;
}

@theme {
  --font-serif: "Crimson Pro Variable", "serif";
  --font-sans: "Rubik Variable", sans-serif;
  --color-fondo: #f7f5f2;
  --color-oscuro: #ebe7e0;
  --color-texto: #1c2528;
  --color-verde: #56b093;
  --breakpoint-3xl: 120rem;
}
