{% extends "../base.html" %} {% block content %}{% include "dicionario/nav.html" %}
<div class="caixa max-w-screen-2xl mx-auto pt-12">
  <hr />
  <div>
    <h2 class="text-4xl md:text-5xl max-w-2xl !font-sans font-semibold mt-6">{{ titulo }}</h2>
    <div class="text-3xl max-w-2xl mt-4">{{ subtitulo | safe }}</div>
    <div class="mt-4 flex gap-9">
      <div>Autor: <strong>{{ autor }}</strong></div>
    </div>
  </div>
  <div class="content max-w-5xl mx-auto mt-12">{{ content | safe }}</div>
</div>
{% endblock %}
