---
layout: base
---

{% include "dicionario/nav.html" %}
<div class="caixa max-w-screen-xl">
  <div class="max-w-lg mt-6">Un proxecto colaborativo de recollida do galego de Valdeorras, unha das claves da identidade da comarca. Coas aportacións da veciñanza pomos en valor a nosa fala e creamos o glosario co que soñaba Florencio Delgado Gurriarán.</div>
</div>
<div class="caixa max-w-screen-2xl -mt-36">
  <img src="/assets/img/mapa-portada.webp" alt="imaxe de portada" />
  <hr />
</div>
<!-- portada -->
{%- if page.url == '/dicionario/' -%}
<!-- Termos....................................... -->
<div class="caixa max-w-screen-xl pt-16 font-bold text-3xl text-center">Últimos 9 termos</div>
<div class="caixa max-w-screen-2xl pt-16 grella">
  {%- for item in collections.termo -%} {% if loop.index <= 9 %}
  <a href="{{ item.url }}">
    <div class="border-t-2 text-xl:2xl py-3 first-letter:uppercase">{{ item.data.termo }}</div>
  </a>
  {% endif %} {%- endfor -%}
</div>
<div class="caixa text-center mt-9">
  <a class="underline underline-offset-8" href="/dicionario/termos/">Todos os termos <span class="text-2xl">&rarr;</span></a>
</div>

<!--COLABORA -->
<div class="caixa max-w-screen-2xl pt-36">
  <!-- Comentarios -->
  <div class="flex text-lg w-full">
    <div class="bg-verde text-white flex-1 max-w-4xl">
      <div class="max-w-xl p-20">
        <h2 class="font-bold text-7xl font-sans mb-6">Proxecto participativo</h2>
        Este dicionario aspira a ser un proxecto cultural construído dende a base, polo que os procesos participativos e de mediación cultural estarán no centro da súa acción.
      </div>
    </div>
    <!-- formularios -->
    <div class="bg-texto text-white w-xl py-12">
      <div class="flex-1 max-w-xl">{% include "dicionario/login.html" %}</div>
    </div>
  </div>
</div>

<div class="caixa max-w-screen-xl pt-44 font-bold text-3xl text-center">Último artigo</div>
<!-- items -->
{%- for item in collections.artigo -%}
<div class="caixa max-w-screen-2xl mx-auto pt-16">
  <hr />
  {%- for item in collections.artigo -%} {% include "dicionario/artigo-card.html" %} {%- endfor -%}
</div>
{%- endfor -%}
<div class="caixa text-center mt-16">
  <a class="underline underline-offset-8" href="/dicionario/termos/">Ver todos os artigos <span class="text-2xl">&rarr;</span></a>
</div>
{%- elseif page.url == '/dicionario/mapa/' -%}
<!-- Mapa........................................ -->
<div class="caixa max-w-screen-xl pt-6"><div class="max-w-xl">{{ content | safe }}</div></div>
<img src="/assets/img/mapa.webp" alt="" />

{%- elseif page.url == '/dicionario/proxecto/' -%}

<div class="caixa max-w-screen-xl pt-9 content">{{ content | safe }}</div>

{%- endif -%}
