{% extends "../base.html" %} {% block content %} {% include "dicionario/nav.html" %}
<!-- portada -->
{%- if page.url == '/dicionario/' -%}
<!-- Termos....................................... -->
<div class="caixa max-w-screen-xl pt-24 font-bold text-3xl">&mdash; Últimos 9 termos:</div>
<div class="caixa max-w-screen-2xl pt-20 grella">
  {%- for item in collections.termo -%}
  <a href="{{ item.url }}">
    <div class="border-t-2 text-xl:2xl py-3 first-letter:uppercase">{{ item.data.termo }}</div>
  </a>
  {%- endfor -%}
</div>
<div class="caixa max-w-screen-lg mt-16 md:mt-36 flex flex-col gap-6 lg:flex-row justify-center">
  <a class="boton bg-texto text-white items-center" href="/dicionario/colabora/">
    <div class="size-6 *:border-2 *:border-current overflow-hidden relative">
      <div class="rounded-full size-4 mx-auto"></div>
      <div class="rounded-lg size-full"></div>
    </div>
    <div>Colabora</div>
  </a>
  <a class="boton bg-verde" href="/dicionario/termos/">Ver todos <span class="text-2xl">&rarr;</span></a>
</div>
<div class="caixa max-w-screen-xl pt-44 font-bold text-3xl">&mdash; Último artigo:</div>
<!-- items -->
{%- for item in collections.artigo -%}
<div class="caixa max-w-screen-2xl mx-auto pt-24">
  <hr />
  {%- for item in collections.artigo -%} {% include "dicionario/artigo-card.html" %} {%- endfor -%}
</div>
{%- endfor -%}
<div class="caixa max-w-xl mt-36">
  <a class="boton bg-verde" href="/dicionario/artigos/">Todos os artigos <span class="text-2xl">&rarr;</span></a>
</div>
{%- elseif page.url == '/dicionario/mapa/' -%}
<!-- Mapa........................................ -->
<div class="caixa max-w-screen-xl pt-6"><div class="max-w-xl">{{ content | safe }}</div></div>
<img src="/assets/img/mapa.webp" alt="" />

{%- elseif page.url == '/dicionario/proxecto/' -%}

<div class="caixa max-w-screen-xl pt-9 content">{{ content | safe }}</div>

{%- endif -%} {% include "dicionario/prefooter.html" %} {% endblock %}
