---
layout: base
---

{% include "dicionario/nav.html" %}
<div class="caixa max-w-screen-xl">
  <div class="max-w-lg mt-3">{{ content | safe }}</div>
</div>
<div class="caixa max-w-4xl bg-verde p-12 mx-auto my-16">
  <div class="bg-white my-6">
    <div x-data="{ activeTab:  1 }">
      <div class="flex *:flex-1 *:bg-verde *:py-6 *:font-semibold">
        <button @click="activeTab = 1" :class="{ 'active !bg-white': activeTab === 1 }">Persoa</button>
        <button @click="activeTab = 2" :class="{ 'active !bg-white': activeTab === 2 }">Institución ou colectivo</button>
      </div>

      <div x-show="activeTab === 1">
        <form action="#">
          <div class="py-12 px-16 bg-white border-b">
            <label for="Nome" class="block">
              <span>Nome</span>
              <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
            </label>
            <label for="Email" class="block">
              <span>Correo electrónico</span>
              <input type="email" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
            </label>
            <div class="flex gap-6 w-full *:flex-1">
              <label for="Nome" class="block">
                <span class="">Contrasinal</span>
                <input type="password" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
              </label>
              <label for="Nome" class="block">
                <span class="">Repetir contrasinal</span>
                <input type="password" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
              </label>
            </div>
            <label for="Nome" class="block">
              <span class="">Cal é a túa relación con Valdeorras?</span>
              <textarea rows="6" class="w-full border-1 border-neutral-200 rounded-sm bg-fondo mb-6 mt-2 p-6"></textarea>
            </label>
            <!-- acordo -->
            <label for="normas" class="flex gap-3 items-center">
              <input class="size-9 border-4 border-neutral-500 bg-transparent" type="checkbox" name="normas" id="normas" required />
              Lin e acepto a <a href="/legal" class="underline underline-offset-4">política de privacidade</a>
            </label>
            <button class="block h-20 w-full bg-verde mx-auto mt-12 font-bold text-white text-2xl hover:bg-verde/80">Enviar</button>
          </div>
        </form>
      </div>
      <div x-show="activeTab === 2">
        <form action="#">
          <div class="py-12 px-16 bg-white border-b">
            <label for="Nome" class="block">
              <span>Nome da institución ou colectivo</span>
              <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
            </label>
            <label for="Nome" class="block">
              <span>Persoa de contacto</span>
              <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
            </label>
            <label for="Email" class="block">
              <span>Correo electrónico</span>
              <input type="text" class="h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2" />
            </label>
            <div class="flex gap-6 w-full *:flex-1">
              <label for="Nome" class="block">
                <span class="">Contrasinal</span>
                <input type="password" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
              </label>
              <label for="Nome" class="block">
                <span class="">Repetir contrasinal</span>
                <input type="password" class="text-texto h-16 border-1 border-neutral-200 rounded-sm w-full bg-fondo block mb-6 mt-2 px-6" />
              </label>
            </div>
            <label for="Nome" class="block">
              <span class="">En que ámbito cultural ou social se desenvolve a institución?</span>
              <textarea rows="6" class="w-full border-1 border-neutral-200 rounded-sm bg-fondo mb-6 mt-2 p-6" placeholder=""></textarea>
            </label>
            <!-- acordo -->
            <label for="normas" class="flex gap-3 items-center">
              <input class="size-9 border-4 border-neutral-500 bg-transparent" type="checkbox" name="normas" id="normas" required />
              Lin e acepto a <a href="/legal" class="underline underline-offset-4">política de privacidade</a>
            </label>
            <button class="block h-20 w-full bg-verde mx-auto mt-12 font-bold text-white text-2xl hover:bg-verde/80">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
