{% extends "../base.html" %} {% block content %} {% include "dicionario/nav.html" %}

{% set categorias = [] %}
{% set campos = [] %}
{% set lugares = [] %}

{% for item in collections.termo %}
  {% set categoriasSeparadas = item.data.categoria.split(', ') %}
  {% for categoria in categoriasSeparadas %}
    {% if categoria not in categorias %}
      {% set categorias = (categorias.push(categoria), categorias) %}
    {% endif %}
  {% endfor %}

  {% set camposSeparados = item.data.campo.split(', ') %}
  {% for campo in camposSeparados %}
    {% if campo not in campos %}
      {% set campos = (campos.push(campo), campos) %}
    {% endif %}
  {% endfor %}

  {% set lugaresSeparados = item.data.localizacion.split(', ') %}
  {% for lugar in lugaresSeparados %}
    {% if lugar not in lugares %}
      {% set lugares = (lugares.push(lugar), lugares) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="caixa max-w-screen-xl pt-12">
  <div class="flex gap-6">
    <div class="flex-1 relative" x-data="{menu : false}">
      <button class="boton w-full bg-verde text-white" @click="menu = true">
        <div>
          <svg class="fill-none stroke-white stroke-2 size-6" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
          </svg>
        </div>
        <div>Filtrar listado</div>
        <div class="ml-auto"><div class="rotate-90">></div></div>
      </button>
      <!-- panel -->

      <div class="js-filtro absolute top-20 left-0 z-20 py-12 bg-white text-texto font-normal flex w-5xl divide-x divide-neutral-200" x-show="menu" @click.outside="menu = false">
        <div class="js-filtro-categoria flex-1 px-12">
          <strong class="block pb-6 uppercase text-verde">Categoría</strong>
          <ul class="space-y-3">
            <li><a href="#" class="hover:text-verde text-verde">Todas</a></li>
            {%- for item in categorias | sort -%}
            <li><a href="#" class="hover:text-verde">{{ item }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="js-filtro-campo flex-1 px-12">
          <strong class="block pb-6 uppercase text-verde">Campo semántico</strong>
          <ul class="space-y-3">
            <li><a href="#" class="hover:text-verde text-verde">Todos</a></li>
            {%- for item in campos | sort -%}
            <li><a href="#" class="hover:text-verde">{{ item }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="js-filtro-lugar flex-1 px-12">
          <strong class="block pb-6 uppercase text-verde">Lugar</strong>
          <ul class="space-y-3">
            <li><a href="#" class="hover:text-verde text-verde">Todos</a></li>
            {%- for item in lugares | sort -%}
            <li><a href="#" class="hover:text-verde">{{ item }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
    <div class="boton flex-2 bg-black text-white">
      <div>
        <svg class="fill-none stroke-white stroke-2 size-6" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8" />
          <path d="m21 21-4.3-4.3" />
        </svg>
      </div>
      <div><input class="js-filtro-buscar" name="buscar" type="text" placeholder="Buscar"></div>
    </div>
  </div>
</div>
<!-- Grella -->
<div class="caixa max-w-screen-2xl pt-20">
  <div class="text-lg"><span class="text-red-400">*En revisión</span></div>
</div>
<div class="caixa max-w-screen-2xl pt-6 grella">
  {%- for item in collections.termo -%}
  <a class="js-termo" href="{{ item.url }}"
    data-lugar="{{ item.data.localizacion }}" 
    data-campo="{{ item.data.campo }}"  
    data-categoria="{{ item.data.categoria }}">
    <div class="border-t-2 text-xl:2xl py-3 first-letter:uppercase {{ ' text-red-400' if item.data.revision == 'true' }}">{{ item.data.termo }}</div>
  </a>
  {%- endfor -%}
</div>
<!--COLABORA -->
<div class="caixa max-w-screen-2xl pt-44">
  <!-- Comentarios -->
  <div class="flex text-lg w-full">
    <div class="bg-verde text-white p-12 flex-1 max-w-4xl">
      <div class="max-w-xl p-20">
        <h2 class="font-bold text-7xl font-sans mb-6">Novo termo</h2>
        Este dicionario aspira a ser un proxecto cultural construído dende a base, polo que os procesos participativos e de mediación cultural estarán no centro da súa acción.
      </div>
    </div>
    <!-- formularios -->
    <div class="bg-texto text-white w-xl py-12">
      <div class="flex-1 max-w-xl">{% include "dicionario/fake-login.html" %}</div>
    </div>
  </div>
</div>
{% endblock %}
