{% extends "../base.html" %} {% block content %} {% include "dicionario/nav.html" %}
<!-- Header -->
<div class="caixa max-w-screen-xl pt-6 content">
  <div class="max-w-3xl pt-3">
    <strong>Definición</strong>
    <div class="mt-2">{{ definicion | safe }}</div>
  </div>
  <div>
    <strong>Exemplo</strong>
    <div class="mt-2"><em>{{ exemplo | safe }}</em></div>
  </div>
</div>
<!-- datos -->
<div class="caixa max-w-screen-2xl pt-6">
  <div class="content">
    <hr />
    <div class="flex *:flex-1 flex-col lg:flex-row gap-20 border-b">
      <!-- IZQ -->
      <div>
        <!-- ficha -->
        <div class="divide-y">
          <div class="pt-6 md:flex md:items-end">
            <div class="text-neutral-500 block text-lg w-72">Categoría</div>
            <div>{{ categoria }}</div>
          </div>
          <div class="pt-6 md:flex md:items-end">
            <div class="text-neutral-500 block text-lg w-72">Campo semántico</div>
            <div>{{ campo }}</div>
          </div>
          <div class="pt-6 md:flex md:items-end">
            <div class="text-neutral-500 block text-lg w-72">Localización</div>
            <div>{{ localizacion | safe }}</div>
          </div>
        </div>
        <!-- informantes -->
        <div class="max-w-4xl pt-24">
          <strong>Informantes</strong>
          <div class="mt-2">{{ informantes | safe }}</div>
        </div>
      </div>
      <!-- DRCH -->
      <div>
        <!-- mapa -->
        <div class="w-full aspect-square">
          <img class="!p-0 !m-0 !shadow-none size-full !bg-transparent" src="/assets/img/mapa-comarca.webp" alt="" />
        </div>
      </div>
    </div>
    <!-- Arquivos adxuntos -->
    <div class="max-w-2xl mx-auto py-12">
      <!-- foto -->
      <div>
        {%- if foto|length -%} {%- for item in foto -%}
        <img class="max-w-xl" src="{{ item.item }}" alt="{{ termo }}" />
        <div>{{ item.lenda | safe }}</div>
        {%- endfor -%} {%- endif -%}
      </div>
      <!-- audio -->
      <div>
        {% if audio|length %}
        
        {# <div class="max-w-xl bg-verde p-6 px-12 flex gap-6 items-center my-12">
          <div class="text-5xl">></div>
          <div class="flex-1"><hr /></div>
        </div> #}

        <style>
          wave-audio-path-player::part(currenttime),
          wave-audio-path-player::part(duration) {
            font-family: "Rubik Variable", sans-serif;
          }
          wave-audio-path-player::part(play) {
            padding: 0;
          }
          wave-audio-path-player::part(slider) {
            padding-top: 7px;
          }
        </style>

        <div class="max-w-xl bg-verde p-6 px-12 flex gap-6 items-center my-12">          
          <wave-audio-path-player src="{{ audio.item }}" wave-width="300" wave-height="40" color="#000000" wave-color="#f7f5f2" wave-slider="#000000" wave-progress-color="#000000"></wave-audio-path-player>
        </div>

        <div>{{ audio.lenda | safe }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Comentarios -->
  <div class="flex text-lg w-full pt-20">
    <div class="bg-white p-12 flex-1 max-w-4xl">
      <span class="block mb-6 font-bold uppercase">Comentarios</span>
      <strong class="text-verde">Fundación FDG</strong><br />
      <div class="*:block *:mb-2">{{ content | safe }}</div>
      <div class="*:mt-6">
        <div>
          <strong>María Vilches</strong><br />Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni possimus sit doloribus ut? Beatae minima adipisci atque vitae dolor modi accusamus fugiat nobis saepe nesciunt, esse quibusdam officia sequi.<br />
          <span class="text-neutral-400">21/03/25</span>
        </div>
        <div><strong>Xoan Merodo</strong><br />Cumque magni possimus sit doloribus ut? Beatae minima adipisci atque vitae dolor modi accusamus fugiat nobis saepe nesciunt.</div>
      </div>
    </div>
    <!-- formularios -->
    <div class="bg-texto text-white">
      <div class="px-16 pt-12 max-w-xl">Para comentar tes que entrar cos teus datos ou rexistrarte na plataforma. Grazas.</div>
      <div class="flex-1 max-w-xl">{% include "dicionario/login.html" %}</div>
    </div>
  </div>
  <div class="text-center my-12 text-xl max-w-xl mx-auto">Os comentarios pasarán un proceso de moderación <br />Grazas por colaborar!</div>
</div>
{% endblock %}
