{% extends "../base.html" %} {% block content %} {% include "directus/nav.html" %}
<!-- Header -->
<div class="caixa max-w-screen-xl pt-12">
  <!-- Migas -->
  <div>
    <a href="#">Inicio</a> / 
    <a href="#">Termos</a> / 
    <a href="#">{{ item.termo }}</a>
  </div>
  <!-- Título -->
  <h1 class="text-5xl sm:text-7xl text-verde pt-6 first-letter:uppercase">{{ item.termo }}</h1>
</div>

<!-- Header -->
<div class="caixa max-w-screen-xl pt-6 content">
  <div class="max-w-3xl pt-3">
    <strong>Definición</strong>
    {%- for aportacion in item.aportacions -%}
        <div class="mt-2">{{ aportacion.definicion | safe }}</div>
    {%- endfor -%}
  </div>  
</div>
{% include "dicionario/prefooter.html" %} {% endblock %}
