.activo {
    background-color: var(--negro);
    color: #fff;
}

.link-activo {
    color: var(--verde)
}

.boton-cerrar {
    display: inline;
    width: 25px;
    margin-bottom: -7px;
}


#termo-mapa-iframe {
    height: 400px;
}

.info-window {
    white-space: wrap;
}

/* Reproductor de audio */

wave-audio-path-player {
    white-space: wrap;
}
wave-audio-path-player::part(currenttime),
wave-audio-path-player::part(duration) {
    font-family: "Rubik Variable", sans-serif;
}
wave-audio-path-player::part(play) {
    padding: 0;
}

.reproductorGrande {
    display: block;
}

.reproductorPequeno {
    display: none;
}

@media (max-width: 570px) {
    .reproductorGrande {
        display: none;
    }

    .reproductorPequeno {
        display: block;
    }
}

/* Selector Tom Select */
.ts-control {
    padding: 20px 10px 20px 15px;
    font-size: 100%;
    color: #708090;
    border-radius: 5px;
    border: 1px solid var(--negro)
}

.ts-wrapper.multi .ts-control .item {
    padding: 15px 15px !important;
}