---
layout: base
title: A Fundación
padroado:
  - nome: Maruxa Delgado
    posto: Presidenta e patroa electa
  - nome: Emilio Vega
    posto: Vicepresidente e patrón electo
  - nome: Elva Delgado
    posto: Secretaria e patroa electa
  - nome: Celia Delgado
    posto: Patroa electa
  - nome: Miguel Bautista
    posto: Patrón electo
  - nome: Lucio Santalla
    posto: Patrón electo
  - nome: Anxo Baranga
    posto: Patrón electo
  - nome: Camilo Valdehorras
    posto: Patrón electo
  - nome: Ángel Fernández
    posto: Patrón electo
  - nome: Aurelio Trincado
    posto: Patrón electo
apoian:
  - insti: Concello Vilamartín
    repre: Enrique Álvarez Barreiro
  - insti: Concello O Barco
    repre: Margarida Pizcueta
  - insti: Concello Petín
    repre: Raquel Bautista
  - insti: Concello A Rúa
    repre: Luis Gudiña
  - insti: Concello Larouco
    repre: Patricia Lamela
  - insti: Concello O Bolo
    repre: Alberto Vázquez
  - insti: Instituto de Estudios Valdeorreses
    repre: Aurelio Trincado
  - insti: Deputación de Ourense
    repre: Luis Menor
  - insti: Xunta de Galicia
    repre: Valentín García, Director Xeral de Política Lingüística

corpo: "Esta institución é froito da iniciativa das administracións, asociacións e persoas implicadas dende hai décadas na recuperación da memoria de Florencio Delgado Gurriarán, e que no 2022 viron cumprido o obxectivo de que a Real Academia Galega lle dedicase o Día das Letras Galegas. Ese proxecto, coñecido como As Letras de Florencio, será agora continuado pola Fundación.<br>Os seus obxectivos son continuar poñendo en valor a figura e obra de Florencio, aproveitando a súa proxección para dinamizar a cultura e lingua en Valdeorras. Idioma, historia, territorio, natureza, gastronomía, creación artística... Nos versos de Florencio tiñan cabida moitos elementos que identifican a Valdeorras e sobre eles traballará a Fundación, coa poesía como principal eixo vertebrador."

---


<!-- Header -->
<div class="caixa max-w-screen-xl mx-auto pt-20 pb-6">
  <h1 class="text-7xl sm:text-8xl">{{ title }}</h1>
</div>
<div class="caixa max-w-screen-xl mx-auto">
  <div class="content">{{ corpo | safe }}</div>
  <img src="/media/padroado.jpg" alt="portada">
</div>
<div class="caixa max-w-screen-xl mx-auto pt-20">
  <h2 class="font-bold !font-sans text-5xl mb-20">Padroado</h2>
  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-12">
    {%- for padron in padroado -%}
    <div class="min-h-20 xl:min-h-24">
      <strong class="block">{{ padron.nome }}</strong>
      {{ padron.posto }}
    </div>
    {%- endfor -%}
  </div>

  <h2 class="font-bold !font-sans text-5xl my-20">Apoian</h2>
  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12">
    {%- for apoio in apoian -%}
    <div class="min-h-20 xl:min-h-24">
      <strong class="block">{{ apoio.insti }}</strong>
      Representanción: {{ apoio.repre }}
    </div>
    {%- endfor -%}
  </div>
</div>
